.head {}

.body {}

.container1 {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 98vw;
}

.menu {
    display: flex;
    flex-wrap: row;
    align-items: center;

}

.znc {
    border: none;
    background-color: white;
}

.bar {
    /* margin: 10px; */
    width: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.from style {
    width: 100%;
}

.searchbar {
    height: 35px;
    width: 40vw;
    margin-left: 58px;
    border: 1px solid #d3d3d3;
    padding-left: 7px;
    border-radius: 25px;
}

.search-button {
    border-radius: 30px;
    border: 1px solid #d3d3d3;
    background-color: rgba(244, 232, 232, 0.662);
    margin: 0px;
}

.bell-button {
    border: 1px solid #d3d3d3;
    background-color: white;
    margin: 0 6px;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    width: 44px;
    border: none;

}


.button-acc {
    background-color: white;
    border: none;
    height: 35px;
    width: 50px;
}

.bell-icon {
    background-color: white;
    border: none;
    height: 35px;
    width: 50px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box2 {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.style-scope yt-icon {
    display: flex;
    flex-direction: column;
}

.homebutton {
    display: flex;
    background-color: white;
    align-items: center;
    border: none;
}

.homebutton2 {
    border: none;
    width: 15vw;
    display: flex;
    align-items: center;
    background-color: white;
}

.box3 {
    width: 15vw;
    border-top: 1px solid #ccc;
}

.container2 {
    width: 15vw;
    margin-left: 10px;
    /* overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; */
}

.ickibox4 {
    border: none;
    width: 15vw;
    display: flex;
    align-items: center;
    background-color: white;
}

.box4 {
    display: flex;
    flex-direction: column;
    width: 15vw;
    border-top: 1px solid #ccc;
}

.box5 {
    display: flex;
    flex-direction: column;
    width: 15vw;
    border-top: 1px solid #ccc;
}

.box5button {
    border: none;
    width: 15vw;
    display: flex;
    align-items: center;
    background-color: white;

}

.box6 {
    display: flex;
    flex-direction: column;
    width: 15vw;
    border-top: 1px solid #ccc;

}

.box6button {
    border: none;
    width: 15vw;
    display: flex;
    align-items: center;
    background-color: white;

}

.box7 {
    display: flex;
    flex-direction: column;
    width: 15vw;
    border-top: 1px solid #ccc;

}

.box7button {
    border: none;
    width: 15vw;
    display: flex;
    align-items: center;
    background-color: white;
}

.container2 .Names {
    background: none;
    border: none;
    font-size: 7px;
    display: flex;
    color: rgba(97, 95, 95, 0.995);

}

.homebutton p {
    margin-left: 20px;
}

.homebutton2 p {
    margin-left: 20px;
}

.ickibox4 p {
    margin-left: 20px;
}

.box5button p {
    margin-left: 20px;
}

.box6button p {
    margin-left: 20px;
}

.box7button p {
    margin-left: 20px;
}

.container3 nav {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}


.style2 {
    border: 1px solid lightgrey;
    border-radius: 58px;
    padding: 6px 10px;
    background-color: #f3efef;
    cursor: pointer;
    width: auto;
    height: 33px;
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;

}

.main {
    display: flex;
    border-top: 1px solid #ccc;
}

.container3 {
    border-left: 1px solid #ccc;
    max-width: 82vw;
}

.videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;
    margin-right: 20px;
    width: 99%;

}

.ingridients {
    display: flex;
    width: 80%;
}

.hat h1 {
    font-size: 13px;
    margin: 10px;
    text-align: left;
    width: 96%;


}

.hat p {
    display: flex;
    margin: 2px 10px;
}

.contentbtn {
    background: none;
    border: none;
}

.search-button2 {
    border-radius: 30px;
    border: 1px solid #d3d3d3;
    background-color: rgba(244, 232, 232, 0.662);
    margin: 0px;
    margin-left: 5px;
}

.bell-acc:hover,
.searchbar:hover,
.bell-icon:hover,
.bell-button:hover,
.search-button2:hover,
.search-button2:hover,
.search-button:hover,
.style2:hover,
.contentbtn:hover,
.box7button:hover,
.box6button:hover,
.ickibox4:hover,
.homebutton2:hover,
.homebutton:hover {
    background-color: #ccc
}

.box2-main2 {
    background: none;
    border: none;
    margin: 10px;
    display: grid;
    justify-items: center;
}

.box2-main {
    justify-items: center;
}

@media(max-width:1143px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr;
        height: calc(68vw - 45px);
    }

    .box2-main {
        justify-items: center;
    }

    .container2 {
        width: 15vw;
        margin-left: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(74vw - 45px);
        scrollbar-width: none;
    }
}

@media(max-width:890px) {
    .videos {
        grid-template-columns: 1fr 1fr;
    }

    .container2 {
        margin: 0px;
        height: auto;
        width: 9vw;
    }

    .box2-main {
        justify-items: center;
        width: 9vw;
    }

    .container3 {
        border-left: 1px solid #ccc;
        max-width: 88vw;
    }

    .searchbar {
        display: none;
    }

    .search {
        margin-left: 48vw;
    }
}


@media(max-width:570px) {
    .videos {
        grid-template-columns: 1fr;
    }

    .container2 {
        margin-left: 0px;
        width: 13vw;
    }

    .searchbar {
        display: none;
    }

    .container3 {
        border-left: 1px solid #ccc;
        max-width: 83vw;
    }

    .search {
        margin-left: 11vw;
    }

    .account {}
}








@media(max-width:1300px) {

    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7 {
        display: none;
    }

    .container2 {
        margin: 0px;
        height: auto;
        width: 11vw;
    }

    .container3 {
        border-left: 1px solid #ccc;
        max-width: 86vw;
    }

    .box2-main {
        justify-items: center;
        width: 9vw;
    }
}

@media (min-width:1300px) {
    .box2-main {
        display: none;
    }



    .container2 {
        width: 15vw;
        margin-left: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(90vw - 45px);
        scrollbar-width: none;
    }

    .videos {
        height: calc(69vw - 45px);
    }
}